.tag {
    border-radius: 12px;
    padding: 4px 8px;
    font-size: 90%;
    font-weight: bold;
    display: inline-block;
}

.tag-blue {
    background-color: #007bff;
    color: white;
}

.tag-green {
    background-color: #28a745;
    color: white;
}

.tag-red {
    background-color: #dc3545;
    color: white;
}

.tag-purple {
    background-color: #6f42c1;
    color: white;
}

body {
    overflow: hidden; /* Hide scrollbars */
  }